/* Chris Poteet’s Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table {	border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


@font-face {
    font-family: Code;
    font-weight: bold;
    src: url("../font/CODE%20Bold.otf");
}


@font-face {
    font-family: Code;
    font-weight: normal;
    src: url("../font/CODE%20Light.otf");
}


body{
    background-image: url(../assets/Background.jpg);
    padding: 0px;
    overflow: hidden;
}



#face{
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url(../assets/Face_home.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 600px;
}

#title{
    position: absolute;
    right: 0;
    z-index: 999;
    right: calc(50% - 350px);
    top:20px;
    background-image: url(../assets/Titulo_home.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
}

#mancha{
    position: absolute;
    top: 0;
    right: -10px;
    background-image: url(../assets/Mancha.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 300px;
}

#div_01{
    width: 100%;
    height: 350px;
}


#div_02{
    width: 100%;
    height: 280px;

}

#div_03{
    width: 100%;
    height: 100px;

}



.icon:first-child{
    margin-right: 300px;
}
.icon{
    float: right;
    margin-right: 130px;
    margin-top: 40px;
    width: 150px;
    height: 150px;
    z-index: 999;
}


#icon_programador{
    background: url("../assets/botoes/Icon_programador.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_programador:hover{
    cursor: pointer;
    background: url("../assets/botoes/Icon_programador_over.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#icon_ilustrador{
    background: url("../assets/botoes/Icon_ilustrador.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_ilustrador:hover{
    cursor: pointer;
    background: url("../assets/botoes/Icon_ilustrador_over.png");
    background-size: contain;
    background-repeat: no-repeat;
}



#icon_gamedev{
    background: url("../assets/botoes/Icon_gamedev.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_gamedev:hover{
    cursor: pointer;
    background: url("../assets/botoes/Icon_gamedev_over.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_professor{
    background: url("../assets/botoes/Icon_professor.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_professor:hover{
    cursor: pointer;
    background: url("../assets/botoes/Icon_professor_over.png");
    background-size: contain;
    background-repeat: no-repeat;
}


#menu_redes{
    font-family: Code;
    font-weight: bold;
    font-size: 20px;
    padding-right: 100px;
    color:#bebebe;
}

.bt_redes{
    float: right;
    margin-right: 30px;
}

.bt_redes:hover{
    cursor: pointer;
    color:#000;
}


#footer{
    font-family: Code;
    font-weight: normal;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 17px;
}



@media screen and (min-width: 320px) and (min-height: 480px) and (orientation: portrait) {

    #face{
        height: 480px;
        opacity: 0.3;
    }


    #title{
        top: 10px;
        right: 50px;
        width: 220px;
        height:150px;
    }

    #mancha{
        display: none;
    }
    #div_01{
        width: 100%;
        height: 200px;
    }


    #div_02{
        width: 100%;
        height: 150px;
    }

    #div_03{
        width: 100%;
        height: 100px;
    }
    .icon:first-child{
        margin-right: 10px;
    }
    .icon{
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        width: 90px;
        height: 90px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 15px;
        padding-right: 20px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 30px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

    #footer{
        font-size: 10px;
    }



}

/*OK*/
@media screen and (min-width: 1280px) and (min-height: 600px) and (orientation: landscape) {

    #face{
        height: 700px;
    }


    #title{
       right: calc(45% - 200px);
       width: 400px;
       height:250px;
    }


    #div_01{
        width: 100%;
        height: 250px;
    }


    #div_02{
        width: 100%;
        height: 270px;
    }

    #div_03{
        width: 100%;
        height: 50px;
    }
    .icon:first-child{

        margin-right: 200px;
    }
    .icon{
        float: right;
        margin-right: 100px;
        margin-top: 80px;
        width: 130px;
        height: 120px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 15px;
        padding-right: 50px;
        color:#bebebe;

    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }


}

/* OK */
@media screen and (min-height: 1280px) and (min-width: 600px) and (orientation: portrait){

    #face{
        height: 750px;
    }


    #title{
        top: 200px;
        right: calc(50% - 250px);
        width: 500px;
        height:300px;
    }

    #mancha{
        display: none;
    }

    #div_01{
        width: 100%;
        height: 800px;
    }


    #div_02{
        width: 100%;
        height: 250px;
    }

    #div_03{
        width: 100%;
        height: 150px;
    }
    .icon:first-child{
        margin-right: 20px;
    }
    .icon{
        float: right;
        margin-right: 20px;
        margin-top: 20px;
        width: 170px;
        height: 170px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 15px;
        padding-right: 50px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 30px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

}




/*  LAYOUT ALTO */
/*OK*/
 @media screen and (min-width: 980px) and (min-height: 1280px) and (orientation: portrait){

    #face{
        height: 750px;
    }


    #title{
        top: 120px;
        right: calc(33% - 200px);
        width: 700px;
        height:400px;
    }


    #div_01{
        width: 100%;
        height: 700px;
    }


    #div_02{
        width: 100%;
        height: 400px;
    }

    #div_03{
        width: 100%;
        height: 100px;
    }
    .icon:first-child{
        margin-right: 120px;
    }
    .icon{
        float: right;
        margin-right: 60px;
        margin-top: 80px;
        width: 200px;
        height: 200px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 20px;
        padding-right: 50px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 140px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

}

@media screen and (min-height: 980px) and (min-width: 1280px) and (orientation: landscape){

    #face{
        height: 980px;
    }


    #title{
        top: 50px;
        right: calc(45% - 250px);
        width: 500px;
        height:300px;
    }


    #div_01{
        width: 100%;
        height: 400px;
    }


    #div_02{
        width: 100%;
        height: 400px;
    }

    #div_03{
        width: 100%;
        height: 100px;
    }
    .icon:first-child{
        margin-right: 120px;
    }
    .icon{
        float: right;
        margin-right: 60px;
        margin-top: 80px;
        width: 200px;
        height: 200px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 20px;
        padding-right: 50px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 100px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

}


/* OK */
@media screen and (min-height: 1920px) and (min-width: 900px) and (orientation: portrait){

    #face{
        height: 750px;
    }


    #title{
        top: 170px;
        right: calc(33% - 200px);
        width: 700px;
        height:400px;
    }


    #div_01{
        width: 100%;
        height: 700px;
    }


    #div_02{
        width: 100%;
        height: 1050px;
    }

    #div_03{
        width: 100%;
        height: 75px;
    }
    .icon:first-child{
        margin-right: 120px;
    }
    .icon{
        float: none;
        margin-left: calc(50% - 150px);
        margin-top: 20px;
        width: 300px;
        height: 300px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 20px;
        padding-right: 50px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 140px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

}





/* OK */
@media screen and (min-width: 1920px) and (min-height: 900px) and (orientation: landscape){

    #face{
        height: 900px;
    }


    #title{
        top: 50px;
        right: calc(45% - 250px);
        width: 500px;
        height:350px;
    }
    #title:hover{
        opacity: 0.1;
    }

    #div_01{
        width: 100%;
        height: 400px;
    }


    #div_02{
        width: 100%;
        height: 340px;
    }

    #div_03{
        width: 100%;
        height: 100px;
    }
    .icon:first-child{
        margin-right: 400px;
    }
    .icon{
        float: right;
        margin-right: 150px;
        margin-top: 20px;
        width: 200px;
        height: 200px;
        z-index: 999;
    }


    #menu_redes{
        font-size: 20px;
        padding-right: 50px;
        color:#bebebe;

    }
    .bt_redes:first-child{
        margin-right: 380px;
    }

    .bt_redes{
        float: right;
        margin-right: 30px;
    }

}

